
main {
  max-width: 600px;
  height: 500px;
  margin: 75px auto;
  border: 1px solid #1b1b1b;
  border-radius: 3px;
}

.image-container {
  /*background: url('https://placekitten.com/600/500'); set by galleryController in app.js */
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #1b1b1b;
  height:100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.image-info {
  width:100%;
  -webkit-transition: .4s ease;
  -moz-transition: .4s ease;
  -o-transition: .4s ease;
  transition: .4s ease;
  opacity: .7;
  display: flex;
  align-items: center;
  color: #fff;
}

nav {
  height:75px;
  background:#0e492d;
  justify-content: space-between;
  -webkit-transform: translateY(-75px);
  -moz-transform: translateY(-75px);
  -ms-transform: translateY(-75px);
  -o-transform: translateY(-75px);
  transform: translateY(-75px);
}

nav span {
  padding-left: 15px;
  font-size: 3rem;
}

.image-buttons {
  padding-right: 15px;
  color:#1b1b1b;
}

.image-description {
  min-height: 75px;
  max-height: 75px;
  overflow: scroll;
  background: grey;
  margin-top: auto;
  -webkit-transform: translateY(+75px);
  -moz-transform: translateY(+75px);
  -ms-transform: translateY(+75px);
  -o-transform: translateY(+75px);
  transform: translateY(+75px);
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-description p {
  margin: auto;
}

nav:hover {
  opacity: .9;
}

.image-description:hover {
  opacity: 1;
  max-height: 150px;
}

.image-container:hover nav {
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);
}

.image-container:hover .image-description {
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);
}
